$body-color: #888;

body {
  color: $body-color;
}

.tuple {
  display: inline-block;
  line-height: 1em;
}
.tuple-odd {
  margin-bottom: 2.5em;
}
.tuple-even {
  position: relative;
  top: -1em;
  left: -1em;
}
